/*CSS*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato");

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    margin: 0 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agrupe-formulario{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.form-box{
    background-color: #EEEEEE;
    font-family: Lato;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.box {
    text-align: left;
    font-weight: 600;
}
.box p{
    padding: 10px 0;
}

.form-box .form-input{
    border: none;
    background-color: #ffffff;
    color: #A3A3A3;
    width: 100%;
    height: 50px;
    font-size: 14px;
    margin: 5px 0;
    text-align: left;
}


.form-box .form-btn{
    border: none;
    background-color: #000000;
    width: 100%;
    height: 50px;
    font-size: large;
    color: #fff;
    margin-bottom: 10px;
}

.titulo-cadastro h1{
    text-align: center;
}

.titulo-login h1{
    text-align: center;
}
@media screen and(max-width: 340px){
    .form-box{
        width: 100vw;
        height: 100vh;
    }
}


