@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;

    --font-anuncio: "Inria Serif", serif;
    --font-logo: "Abril Fatface", serif;
    --font-padrao: "Inter", serif;
}

*{ 
    margin: 0;
    padding: 0;
}

.faixa-anuncio {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    padding: 12px 70px;
}
.agrupe{
    display: flex;
    align-items: center;
    gap: 10px;
}

.agrupe svg, .agrupe svg path{
    width: 17px;
    stroke: var(--cor-secundaria);
}
.agrupe p{
    color: var(--cor-secundaria);
    font-family: var(--font-anuncio);
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 12px 70px;
}
.info-menu{
    display: flex;
    flex-direction: row;
    gap: 25px;

}
.info-menu a{
    color: var(--cor-primaria);
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 12px;
}
.menu-home a{
    text-decoration: underline;
}
.logo p{
    font-family: var(--font-logo);
    font-size: 30px;
}

.acao-cliente{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.acao-cliente button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.acao-cliente svg{
    height: 15px;
    width: 15px;
}

/* .banners{
    display: flex;
} */
.banner img{
    width: 100%;

}

.page-categoria{
    margin-top: 70px;
    color: var(--cor-primaria);
    font-family: var(--font-padrao);
    
}
.titulo-page{
    text-align: center;
}
.titulo-page p{
    font-weight: 600;
    font-size: 36px;
}
.box-categorias{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 40px 70px 0 70px;
    
}
.page-categoria .img-categoria{
    width: 100%;
    
}
.categorias p{
    font-weight: 800;
    text-align: center;
    color: var(--cor-primaria);

}