@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import  url('./minha-conta/css/style-conta.css');


:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-desativado: #d9d9d9;

    --font-anuncio: "Abhaya Libre", serif;
    --font-logo: "Abril Fatface", serif;
    --font-padrao: "Inter", serif;
}

*{ 
    margin: 0;
    padding: 0;
    font-family: var(--font-padrao);
    box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* ANÚNCIO */
.faixa-anuncio {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    padding: 12px 70px;
}

main {
    flex: 1;
    height: 100%;
}

/* FOOTER */
footer {

    padding-top: 64px;
    
    bottom: 0;
    width: 100%;

    .info-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 70px;

        .logo {
            width: 50%;
            font-family: var(--font-logo);
            font-size: 5rem;
        }
        .info-menu-footer {
            width: 50%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 4px;

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: var(--cor-primaria);
                        font-family: var(--font-padrao);
                        font-size: 14px;
                        display: inline-block;
                        padding: 8px;
                    }
        
                    a:hover {
                        color: var(--cor-secundaria);
                        transition: 0.3s;
                        background-color: var(--cor-primaria);
        
                    }

                }
            }


        }
    }

    .copyright {
        background-color: var(--cor-primaria);
        padding: 16px 16px;
        color: var(--cor-secundaria);
        text-align: center;
    }

}

/* MENU */
.agrupe{
    display: flex;
    align-items: center;
    gap: 10px;
}

.agrupe svg, .agrupe svg path{
    width: 17px;
    stroke: var(--cor-secundaria);
}
.agrupe p{
    color: var(--cor-secundaria);
    font-family: var(--font-anuncio);
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 12px 70px;
}
.info-menu{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;

    a {
        padding: 8px;
    }

    a:hover {
        color: var(--cor-secundaria);
        transition: 0.3s;
        background-color: var(--cor-primaria);

    }
}
.info-menu a{
    color: var(--cor-primaria);
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 12px;
}
.menu-home a{
    text-decoration: underline;
}
.logo a{
    font-family: var(--font-logo);
    font-size: 30px;
    text-decoration: none;
    color: var(--cor-primaria);
}

.acao-cliente{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: end;
}
.acao-cliente button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.acao-cliente svg{
    height: 15px;
    width: 15px;
}

/* BANNER */
.banner img{
    width: 100%;

}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-prev {
    display: block;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}
.swiper-button-next, .swiper-button-prev{
    color: var(--cor-secundaria) !important;
}

/* CATEGORIA */
.page-categoria{
    margin-top: 70px;
    color: var(--cor-primaria);
    font-family: var(--font-padrao);
    
}
.titulo-page{
    text-align: center;
}
.titulo-page p{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: var(--cor-primaria);
    font-family: var(--font-anuncio);
}
.box-categorias{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    margin: 40px 70px 0 70px;
    
}
.box-categorias a{
    text-decoration: none;
    display: flex;
    gap: 16px;
    flex-direction: column;

    .nome-produto {
        margin: 0;
    }

    .btn-carrinho {
        aspect-ratio: 1/1 auto;
        width: auto;
        height: 100% !important;
        margin: 0;
        box-sizing: border-box;
        display: block;
    }
}

.page-categoria .img-categoria{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
    
}
.page-categoria p{
    font-weight: 600;
    text-align: center;
    color: var(--cor-primaria);

}

/* PAGE CATEGORIA */

.categoria-especifica a:hover{
    text-decoration: none;
    
}
.categoria-especifica p{
    text-align: left;
}
.nome-produto{
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-anuncio);
    margin: 15px 0;
}

hr{
    background-color: rgba(0,0,0,0.15);
    height: 1px;
    border: none;
    margin: 0 10px 0 0;
}
.preco-produto{
    display: flex;
    justify-content: space-between;
}
.preco{
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-size: 25px;
}

.parcelamento{
    font-weight: 400;
    font-size: 15px;
    font-family: var(--font-padrao);
    color: #4f4e4e;
}

button{
    border: none;
    background-color: transparent;
}
.btn-carrinho{
    background-color: var(--cor-primaria);
    padding: 13px;
    
}
.btn-carrinho img{
    width: 20px;
}

/* PAGE - INFORMAÇÃO DO PRODUTO */
.page-info-produto{
    margin: 20px 70px 0 70px;
    display: flex;
    gap: 20px;


    .btn-carrinho {
        width: 100%;
    }

}
.img-blusa{
    width: 50%;
}
.img-blusa img{
    width: 100%;
    max-height: 800px;
    height: auto;
    object-fit: cover;
}

.produto{
    width: 50%;
}
.produto .nome-produto{
    margin: 0;
    font-size: 25px;
}
.produto .parcelamento{

    font-weight: 400;
    font-size: 15px;

    color: #4f4e4e;
}
.tamanho-produto p{
    font-family: var(--font-padrao);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin: 10px 0;
}
.tamanho{
    display: flex;
    gap: 10px;

}
.tamanho button{
    font-family: var(--font-padrao);
    font-size: 10px;
    padding: 10px 13px;
    cursor: pointer;
}
.btn-tamanho-desativado{
    background-color: var(--cor-desativado);
    color: #a3a3a3;
}
.btn-tamanho{
    background-color: transparent;
    border: 1px solid var(--cor-primaria);
}
.btn-tamanho-ativo, .btn-tamanho:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    transition: all 0.5s;
}
.btn-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin: 15px 0;
}

.btn-carrinho img{
    width: 14px;
}
.btn-carrinho p{
    color: var(--cor-secundaria);
    font-size: 11px;
}

/* PAGE CARRINHO */
.page-carrinho {
    display: flex;
    gap: 20px;
    margin: 0 70px;
    font-family: var(--font-padrao);

    .carrinho-itens{
        width: 70%;
        background-color: #FCFCFC;
        padding: 40px;
    }
    .titulo-carrinho p{
        font-family: var(--font-anuncio);
        font-weight: 800;
        font-size: 25px;
    }
    .produto-carrinho{
        margin-top: 40px;
    }
    .produto-carrinho .produto{
        width: 100%;
        display: flex;    
        gap: 20px;   
        margin-bottom: 20px;
        align-items: center;
    }
    .produto img{
        width: 20%;
        
        height: auto;
        object-fit: cover;
    }
    .agrupe-info-produto{
        width: 80%;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        .info-produto {
            width: 60%;
        }

        .qtd {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .add-remove {
                display: flex;
            }
        }

        .produto-valor {
            width: 20%;
            display: flex;
            align-items: center;
        }

    }
    .nome-produto{
        font-size: 18px;
        font-family: var(--font-padrao);
    }
    .tamanho-produto{
        font-size: 13px;
        color: #1F1F1F;
        font-weight: 400;
        padding-top: 10px;
    }
    hr{
        margin: 20px 0;
    }
    .resumo-carrinho{
        width: 30%;
        padding: 40px;
        background-color: #EEEEEE;
        
        .subtitulo{
            font-weight: 700;
            padding-bottom: 10px;
        }
        .agrupe-calculo-valor{
            display: flex;
            justify-content: space-between;
        }

        .btn-carrinho{
            box-sizing: border-box;
        }
    }   
}

input {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--cor-secundaria);
    padding: 15px 25px;
    box-sizing: border-box;
}

button, .btn-carrinho, .btn-tamanho {
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
    .cabecalho {
        .faixa-anuncio, .info-menu {
            display: none;
        }

        .menu {
            padding: 20px 20px 12px 20px;



            .logo {
                text-align: center;
                width: 100%;
            }
    
            .acao-cliente {
                width: fit-content;
            }

            .menu-toggle {
                display: block;
            }
        }

    }

    .page-categoria {
        margin-top: 20px;
        .box-categorias {
            margin: 40px 20px 0 20px;
        }
    }


    .page-info-produto {
        flex-direction: column;
        margin: 20px 20px 0 20px;

        .img-blusa {
            width: 100%;
        }

        .produto {
            width: 100%;
        }
    }

    .page-carrinho {
        margin: 0 20px;
        flex-direction: column;

        .carrinho-itens {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;

            .produto {
                flex-direction: column;
                align-items: flex-start;

                img {
                    width: 100%;
                    height: auto !important;
                }

                .agrupe-info-produto {
                    flex-direction: column;
                    width: 100%;

                    .info-produto {
                        width: 100%;
                    }

                    .qtd {
                        align-items: flex-start;
                    }
                }
            }
        }

        .resumo-carrinho {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
        }
    }

    footer {
        .info-footer {
            flex-direction: column;
            padding: 12px 20px;
            align-items: flex-start;
        }
    }

}

/* MENU MOBILE */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    top: 15px;
    right: 20px;
}

.menu-mobile {
    display: none;
    position: absolute;
    top: 73px;
    right: 0;
    background: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.menu-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-mobile ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.menu-mobile ul li a {
    text-decoration: none;
    color: black;
    display: block;
    color: var(--cor-primaria);
    font-family: var(--font-padrao);
}


#add, #remove {
    border: 1px solid black;
    padding: 8px 12px 8px 12px;
    margin: 2px;
    cursor: pointer;
    transition: 0.3s all;
}

#add:hover, #remove:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.3s all;
}


.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .modal-content {
        background: var(--cor-secundaria);
        color: var(--cor-primaria);
        padding: 40px;
        max-width: 500px;
        text-align: center;
        display: flex;
        gap: 16px;
        flex-direction: column;

        .modal-compra {
            display: flex;
            gap: 16px;
            flex-direction: column;

            .detalhes-compra {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: left;
                gap: 8px;

                .categoria-total {
                    font-weight: 600;
                    text-align: left;
                }

                .valor {
                    font-weight: 400;
                    text-align: right;
                }
            }
        }

        h2 {
            font-family: var(--font-anuncio);
            font-size: 25px;
            font-weight: 800;
        }
    
        button {
            background-color: var(--cor-secundaria);
            color: var(--cor-primaria);
            padding: 10px 20px;
            border: 1px solid var(--cor-primaria);
            cursor: pointer;
            transition: 0.3s all;

            &:hover {

                background-color: var(--cor-primaria);
                color: var(--cor-secundaria);
                transition: 0.3s all;

            }
        }
    }
}

